.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.nav_pag{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.nav_form{
    margin-left: 5em;
}
.nav_label{
    margin-right: 1em;


}

.nav_input{
    width: 5em;
}

