.lispoke{
    display: grid;
    height: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    margin: 0 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}